<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kediklatan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Honorarium Pengajar Diklat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kediklatan_18_1" class="list-group-item">Honorarium diberikan kepada PNS Pemerintah Daerah Provinsi Jawa Barat, PNS Non PNS Pemerintah Provinsi Jawa Barat dan Non PNS</a>
                    <a href="/kediklatan_18_2" class="list-group-item">Honorarium Assesor dan Pengelola Lembaga Sertifikasi Profesi (LSP), Narasumber dari Instansi Pembina Diklat dan Komite Penjamin Mutu Lembaga Diklat</a>
                    <a href="#" class="list-group-item">Biaya makan (pagi, siang dan malam termasuk snack/kudapan 2 kali) untuk peserta diklat penjenjangan, teknis dan fungsional</a>
                  </div></br></br>

            <h4>Biaya Pendidikan dan Pelatihan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kediklatan_18_3" class="list-group-item">Pendidikan dan Pelatihan Lemhannas</a>
                    <a href="/kediklatan_18_4" class="list-group-item">Pendidikan dan Pelatihan Kepemimpinan</a>
                    <a href="/kediklatan_18_5" class="list-group-item">Pendidikan dan Pelatihan Fungsional</a>
                    <a href="/kediklatan_18_6" class="list-group-item">Pendidikan dan Pelatihan Teknis Substantif dan Umum</a>
                    <a href="/kediklatan_18_7" class="list-group-item">Bimbingan Teknis, Lokakarya, Diseminasi, Seminar, Simposium, Workshop, Rapat Kerja/Rapat Koordinasi, Diskusi, Kolokium, Brainstorming, dan Sarasehan</a>
                    <a href="/kediklatan_18_8" class="list-group-item">Pendidikan dan Pelatihan Luar Negeri</a>
                    <a href="/kediklatan_18_9" class="list-group-item">Pendidikan Lanjutan Dalam Negeri</a>
                    <a href="/kediklatan_18_10" class="list-group-item">Pendidikan Lanjutan Luar Negeri</a>
                    <a href="/kediklatan_18_11" class="list-group-item">Riset Edukasi (RE)</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>