<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Perjalanan Dinas Dalam Negeri</h3>
            <h3>Uang Harian Perjalanan Dinas dan Uang Representasi</h3></br>
            <h3>Edit Data</h3>
             <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Uraian:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Uraian" name="uraian">
                            </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label col-sm-2">Daerah Tujuan:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;">
                                    <option>--Pilih Salah Satu--</option>
                                    <option>Kab/Kota  dalam Provinsi</option>
                                    <option>Provinsi DKI Jakarta dan Provinsi Banten</option>
                                    <option>Selain Provinsi DKI Jakarta dan Provinsi Banten</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Satuan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Satuan" name="satuan">
                            </div>
                    </div>                    

                    <div class="form-group">
                        <label class="control-label col-sm-2">Besaran Uang Harian (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Uang Representasi (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran2">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>