<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Perjalanan Dinas Dalam Negeri</h3>
            <h3>Jarak Antar Ibukota Kabupaten dan Kota Di Provinsi Jawa Barat</h3></br>
            <h3>Edit Data</h3>
             <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Dari:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;">
                                    <option>--Pilih Kab/Kota--</option>
                                    <option>Kota Bogor</option>
                                    <option>Kab. Bogor</option>
                                    <option>Kota Depok</option>
                                    <option>Kota Sukabumi</option>
                                    <option>Kab. Sukabumi</option>
                                    <option>Kab. Cianjur</option>
                                    <option>Kota Cirebon</option>
                                    <option>Kab. Cirebon</option>
                                    <option>Kab. Majalengka</option>
                                    <option>Kab. Kuningan</option>
                                    <option>Kab. Indramayu</option>
                                    <option>Kab. Subang</optiion>
                                    <option>Kab. Purwakarta</option>
                                    <option>Kab. Karawang</option>
                                    <option>Kota Bekasi</option>
                                    <option>Kab. Bekasi</option>
                                    <option>Kota Bandung</option>
                                    <option>Kab. Bandung</option>
                                    <option>Kota Cimahi</option>
                                    <option>Kab. Bandung Barat</option>
                                    <option>Kab. Sumedang</option>
                                    <option>Kota Garut</option>
                                    <option>Kota Tasikmalaya</option>
                                    <option>Kab. Tasikmalaya</option>
                                    <option>Kab. Ciamis</option>
                                    <option>Kota Banjar</option>
                                    <option>Kab. Pangandaran</option>
                                    <option>DKI Jakarta</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Tujuan:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;">
                                    <option>--Pilih Kab/Kota--</option>
                                    <option>Kota Bogor</option>
                                    <option>Kab. Bogor</option>
                                    <option>Kota Depok</option>
                                    <option>Kota Sukabumi</option>
                                    <option>Kab. Sukabumi</option>
                                    <option>Kab. Cianjur</option>
                                    <option>Kota Cirebon</option>
                                    <option>Kab. Cirebon</option>
                                    <option>Kab. Majalengka</option>
                                    <option>Kab. Kuningan</option>
                                    <option>Kab. Indramayu</option>
                                    <option>Kab. Subang</optiion>
                                    <option>Kab. Purwakarta</option>
                                    <option>Kab. Karawang</option>
                                    <option>Kota Bekasi</option>
                                    <option>Kab. Bekasi</option>
                                    <option>Kota Bandung</option>
                                    <option>Kab. Bandung</option>
                                    <option>Kota Cimahi</option>
                                    <option>Kab. Bandung Barat</option>
                                    <option>Kab. Sumedang</option>
                                    <option>Kota Garut</option>
                                    <option>Kota Tasikmalaya</option>
                                    <option>Kab. Tasikmalaya</option>
                                    <option>Kab. Ciamis</option>
                                    <option>Kota Banjar</option>
                                    <option>Kab. Pangandaran</option>
                                    <option>DKI Jakarta</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Jarak (KM):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Jarak (KM)" name="jarak">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>