<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori</h3></br></br>
            <h3>Perjalanan Dinas dalam Negeri</h3>
                  <div class="list-group" style="width: 50%;">
                    <h3>Satuan Biaya Uang Harian Perjalanan Dinas Dalam Daerah</h3>
                    <a href="/sbu1_2_32" class="list-group-item">Uang Harian Perjalanan Dinas dari Daerah Kabupaten/Kota asal ke Daerah Kabupaten/Kota  tujuan dengan jarak 4 km s.d 30 km</a>
                    <a href="/sbu1_2_33" class="list-group-item">Uang Harian Perjalanan Dinas dari Daerah Kabupaten/Kota asal ke Daerah Kabupaten/Kota tujuan dengan jarak 31 km s.d 100 km</a>
                    <a href="/sbu1_2_34" class="list-group-item">Uang Harian Perjalanan Dinas dari Daerah Kabupaten/Kota asal ke Daerah Kabupaten/Kota tujuan dengan jarak 101 km s.d 150 km</a>
                    <a href="/sbu1_2_35" class="list-group-item">Uang Harian Perjalanan Dinas dari Daerah Kabupaten/Kota asal ke Daerah Kabupaten/Kota tujuan dengan jarak lebih dari 151 km</a>
                    <a href="/sbu1_2_36" class="list-group-item">Jarak Antar Ibukota Kabupaten dan Kota Di Provinsi Jawa Barat</a>
                    <a href="/sbu1_2_37" class="list-group-item">Satuan Bahan Bakar Minyak</a>
                    <a href="/sbu1_2_38" class="list-group-item">Uang Harian Perjalanan Dinas Dalam Daerah Kabupaten /Kota lebih dari 8 (delapan) jam</a>
                    <a href="/sbu1_2_39" class="list-group-item">Uang saku yang melekat pada perjalanan dinas dapat diberikan untuk mengikuti kegiatan Bimtek/ Pelatihan/ Seminar/ Rapat, di luar kota maupun di luar Provinsi apabila akomodasi dan konsumsi difasilitasi panitia penyelenggara</a>
                  </div></br></br>

                  <div class="list-group" style="width: 50%;">
                    <h3>Satuan Biaya Uang Harian Perjalanan Dinas Luar Provinsi</h3>
                    <a href="/sbu1_2_40" class="list-group-item">Uang  Harian  Perjalanan  Dinas dari Wilayah Jawa Barat ke Provinsi DKI Jakarta dan Dalam Kota DKI Jakarta</a>
                    <a href="/sbu1_2_41" class="list-group-item">Uang Harian Perjalanan Dinas Luar Provinsi selain DKI Jakarta</a>
                    <a href="/sbu1_2_42" class="list-group-item">Uang Harian perjalanan dinas dan uang representasi Gubernur, Wakil Gubernur dan Sekretaris Daerah</a>
                    <a href="/sbu1_2_43" class="list-group-item">Uang Harian perjalanan dinas dan uang representasi Ketua DPRD, Wakil Ketua DPRD dan Anggota DPRD</a>
                    <a href="/sbu1_2_44" class="list-group-item">Pejabat Eselon II</a>
                    <a href="/sbu1_2_45" class="list-group-item">Biaya Taksi Perjalanan Dinas Luar Provinsi untuk Gubernur, Wakil Gubernur, Sekretaris Daerah, Pimpinan DPRD dan Anggota DPRD</a>
                  </div></br></br>

            <h3>Perjalanan Dinas Luar Negeri</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_46" class="list-group-item">Uang Harian Perjalanan Dinas Luar Negeri</a>
                  </div></br></br>

            <h3>Klasifikasi Fasilitas Perjalanan Dinas</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_47" class="list-group-item">Pengelompokan Fasilitas Berdasarkan Golongan</a>
                    <a href="/sbu1_2_48" class="list-group-item">Klasifikasi Fasilitas Transport</a>
                  </div></br></br>

            <h3>Perjalanan Dinas Pindah</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_49" class="list-group-item">Biaya Pindah Pengangkutan Barang</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>