<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Pengadaan Barang/Jasa</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_1" class="list-group-item">Honorarium Pejabat Pembuat Komitmen (PPK), dan Pejabat Pengadaan untuk paket pengadaan barang/pekerjaan konstruksi/jasa lainnya dengan cara pengadaan langsung</a>
                    <a href="/sbu1_2_2" class="list-group-item">Honorarium Pejabat Pemesan dengan cara E Purchasing</a>
                    <a href="/sbu1_2_3" class="list-group-item">Honorarium Pejabat Pembuat Komitmen (PPK)  dan Kelompok Kerja (Pokja) untuk paket pengadaan barang/pekerjaan konstruksi/jasa lainnya dengan nilai paket pekerjaan di atas Rp. 200.000.000,- dengan cara E Tendering dan Penunjukan langsung</a>
                    <a href="/sbu1_2_4" class="list-group-item">Honorarium PPK Untuk Pekerjaan Konstruksi</a>
                    <a href="/sbu1_2_5" class="list-group-item">Honorarium  pejabat penerima hasil pekerjaan untuk paket pengadaan barang/pekerjaan konstruksi/jasa lainnya dengan cara pengadaan langsung dan E Purchasing</a>
                    <a href="/sbu1_2_6" class="list-group-item">Honorarium  panitia penerima hasil pekerjaan untuk paket pengadaan barang/pekerjaan konstruksi/jasa lainnya di atas Rp. 200.000.000,- dengan cara E-Tendering dan penunjukan langsung</a>
                    <a href="/kategoriB" class="list-group-item">Honorarium personil organisasi Pengadaan untuk paket pekerjaan jasa konsultansi</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>