<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Biaya Penginapan Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_50" class="list-group-item">Satuan Biaya Penginapan Perjalanan Dinas Dalam Daerah</a>
                    <a href="/sbu1_2_51" class="list-group-item">Satuan Biaya Penginapan Perjalanan Dinas Luar Provinsi</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>