<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Pengadaan Barang/Jasa</h2></div>
    <div class="page-container">
      <h3>Honorarium Personil Organisasi Pengadaan untuk Paket Pekerjaan Jasa Konsultansi</h3></br>
        <div class="page-data">
            <h3>Sub-Kategori</h3></br>
              <h3>Pejabat Pembuat Komitmen (PPK) dan Pejabat Pengadaan Jasa Konsultansi</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_7" class="list-group-item">Nilai Paket Pekerjaan Sampai dengan Rp. 50.000.000,- </a>
                    <a href="/sbu1_2_8" class="list-group-item">Nilai Paket Pekerjaan di atas Rp. 50.000.000,-</a>
                  </div></br></br>
              <h3>Panitia/Pejabat Penerima Hasil Pekerjaan Pengadaan Jasa Konsultansi</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_9" class="list-group-item">Nilai paket pekerjaan sampai dengan Rp. 50.000.000,-</a>
                    <a href="/sbu1_2_10" class="list-group-item">Nilai paket pekerjaan di atas Rp. 50.000.000,-</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>