<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Honorarium Satpam/Pengemudi/Petugas Kebersihan/Pramubakti/Front Office</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori</h3></br>
            <h3>Dilakukan Melalui Kontrak Perorangan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_20" class="list-group-item">Tenaga Satpam/Pengemudi/Front Officen</a>
                    <a href="/sbu1_2_21" class="list-group-item">Tenaga Kebersihan dan Pramubakti</a>
                  </div></br></br>

            <h3>Dilakukan Melalui Kontrak Pihak Ketiga</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sbu1_2_22" class="list-group-item">Tenaga Satpam/Pengemudi/Front Officen</a>
                    <a href="/sbu1_2_23" class="list-group-item">Tenaga Kebersihan dan Pramubakti</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>