<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Pengadaan Barang/Jasa</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Honorarium Panitia Penerima Hasil Pekerjaan untuk Paket Pengadaan > Rp. 200.000.000</h3>
            <h3>Dengan Cara Penunjukan Langsung/E-Tendering</h3>
                  <a href="/tambah_sbu1_2_6" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>