<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
  <div id="wrapper">
  <div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Perjalanan Dinas Dalam Negeri</h3>
            <h3>Biaya Taksi Perjalanan Dinas Luar Provinsi</h3>
            <h3>Gubernur, Wakil Gubernur, Sekretaris Daerah, Pimpinan DPRD dan Anggota DPRD</h3>
                  <a href="/tambah_sbu1_2_45" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>