<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
  <div id="wrapper">
  <div class="page-header-data"><h2>Perjalanan Dinas Non PNS</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Uang Harian dan Akomodasi Perjalanan Dinas Dalam Provinsi dan Luar Provinsi Non PNS</h3>
                  <a href="/tambah_sbu1_2_53" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>