<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
  <div id="wrapper">
  <div class="page-header-data"><h2>Honorarium Satpam/Pengemudi/Petugas Kebersihan/Pramubakti/Front Office</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Dilakukan Melalui Kontrak dengan Pihak Ketiga</h3>
            <h3>Tenaga Kebersihan dan Pramubakti</h3>
                  <a href="/tambah_sbu1_2_23" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>