<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Perjalanan Dinas Dalam Negeri</h3>
            <h3>Satuan Bahan Bakar Minyak</h3></br>
            <h3>Tambah Data Baru</h3>
             <form class="form-horizontal" method="post" action="/tambah_sbu1_2_37s/add">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Dari:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;" name="nama1">
                                    <option>--Pilih Kab/Kota--</option>
                                    <option value="Kota Bogor">Kota Bogor</option>
                                    <option value="Kab. Bogor">Kab. Bogor</option>
                                    <option value="Kota Depok">Kota Depok</option>
                                    <option value="Kota Sukabumi">Kota Sukabumi</option>
                                    <option value="Kab. Sukabumi">Kab. Sukabumi</option>
                                    <option value="Kab. Cianjur">Kab. Cianjur</option>
                                    <option value="Kota Cirebon">Kota Cirebon</option>
                                    <option value="Kab. Cirebon">Kab. Cirebon</option>
                                    <option value="Kab. Majalengka">Kab. Majalengka</option>
                                    <option value="Kab. Kuningan">Kab. Kuningan</option>
                                    <option value="Kab. Indramayu">Kab. Indramayu</option>
                                    <option value="Kab. Subang">Kab. Subang</optiion>
                                    <option value="Kab. Purwakarta">Kab. Purwakarta</option>
                                    <option value="Kab. Karawang">Kab. Karawang</option>
                                    <option value="Kota Bekasi">Kota Bekasi</option>
                                    <option value="Kab. Bekasi">Kab. Bekasi</option>
                                    <option value="Kota Bandung">Kota Bandung</option>
                                    <option value="Kab. Bandung">Kab. Bandung</option>
                                    <option value="Kota Cimahi">Kota Cimahi</option>
                                    <option value="Kab. Bandung Barat">Kab. Bandung Barat</option>
                                    <option value="Kab. Sumedang">Kab. Sumedang</option>
                                    <option value="Kota Garut">Kota Garut</option>
                                    <option value="Kota Tasikmalaya">Kota Tasikmalaya</option>
                                    <option value="Kota Tasikmalaya">Kab. Tasikmalaya</option>
                                    <option value="Kab. Ciamis">Kab. Ciamis</option>
                                    <option value="Kota Banjar">Kota Banjar</option>
                                    <option value="Kota Banjar">Kab. Pangandaran</option>
                                    <option value="DKI Jakarta">DKI Jakarta</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Tujuan:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;" name="nama2">
                                    <option>--Pilih Kab/Kota--</option>
                                    <option value="Kota Bogor">Kota Bogor</option>
                                    <option value="Kab. Bogor">Kab. Bogor</option>
                                    <option value="Kota Depok">Kota Depok</option>
                                    <option value="Kota Sukabumi">Kota Sukabumi</option>
                                    <option value="Kab. Sukabumi">Kab. Sukabumi</option>
                                    <option value="Kab. Cianjur">Kab. Cianjur</option>
                                    <option value="Kota Cirebon">Kota Cirebon</option>
                                    <option value="Kab. Cirebon">Kab. Cirebon</option>
                                    <option value="Kab. Majalengka">Kab. Majalengka</option>
                                    <option value="Kab. Kuningan">Kab. Kuningan</option>
                                    <option value="Kab. Indramayu">Kab. Indramayu</option>
                                    <option value="Kab. Subang">Kab. Subang</optiion>
                                    <option value="Kab. Purwakarta">Kab. Purwakarta</option>
                                    <option value="Kab. Karawang">Kab. Karawang</option>
                                    <option value="Kota Bekasi">Kota Bekasi</option>
                                    <option value="Kab. Bekasi">Kab. Bekasi</option>
                                    <option value="Kota Bandung">Kota Bandung</option>
                                    <option value="Kab. Bandung">Kab. Bandung</option>
                                    <option value="Kota Cimahi">Kota Cimahi</option>
                                    <option value="Kab. Bandung Barat">Kab. Bandung Barat</option>
                                    <option value="Kab. Sumedang">Kab. Sumedang</option>
                                    <option value="Kota Garut">Kota Garut</option>
                                    <option value="Kota Tasikmalaya">Kota Tasikmalaya</option>
                                    <option value="Kota Tasikmalaya">Kab. Tasikmalaya</option>
                                    <option value="Kab. Ciamis">Kab. Ciamis</option>
                                    <option value="Kota Banjar">Kota Banjar</option>
                                    <option value="Kota Banjar">Kab. Pangandaran</option>
                                    <option value="DKI Jakarta">DKI Jakarta</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Jumlah (Min):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Volume (liter)" name="nilai1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Jumlah (Max):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Volume (Liter)" name="nilai2">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>