<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Perjalanan Dinas</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Perjalanan Dinas Dalam Negeri</h3>
            <h3>Uang Saku yang Melekat pada Perjalanan Dinas Kegiatan Bimtek/Pelatihan/Seminar/Rapat Luar Kota/Provinsi</h3></br>
            <h3>Tambah Data Baru</h3>
             <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Uraian:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Uraian" name="uraian">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Satuan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Satuan" name="satuan">
                            </div>
                    </div>                    

                    <div class="form-group">
                        <label class="control-label col-sm-2">Gol I (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Gol II (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran2">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Gol III (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran3">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Gol IV (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="besaran4">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>