<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Pemilihan Mitra Pemanfaatan Barang Milik Daerah</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Honorarium Panitia Pemilihan Mitra Pemanfaatan Barang Milik Daerah</h3></br>
            <h3>Tambah Data Baru</h3>
             <form class="form-horizontal" method="post" action="/tambah_sbu1_2_11/add">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Nilai Paket Pekerjaan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Nilai Paket" name="nama1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Satuan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Satuan" name="nama2">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Ketua (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Nominal (Rp.)" name="nilai1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Sekretaris (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Nominal (Rp.)" name="nilai2">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Anggota (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Nominal (Rp.)" name="nilai3">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>