<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Tanaman Pangan dan Holtikultura</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang Tanaman Pangan dan Holtikultura</h3></br>

            <h4>Estimasi Biaya Budidaya Benih Padi per Ha</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_1a" class="list-group-item">Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_1b" class="list-group-item">Pemeliharaan Tanaman /Ha</a>
                    <a href="/holtikuktura_13_1c" class="list-group-item">Pengolahan Hasil /ton</a>
                    <a href="/holtikuktura_13_1d" class="list-group-item">Sarana Produksi</a>
                    <a href="/holtikuktura_13_1e" class="list-group-item">Bahan/Peralatan</a>
                    <a href="/holtikuktura_13_1f" class="list-group-item">Bahan Kimia/Obat-obatan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Benih Palawija per Ha</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_2a" class="list-group-item">Upah Tenaga Kerja</a>
                    <a href="/holtikuktura_13_2b" class="list-group-item">Sarana Produksi</a>
                    <a href="/holtikuktura_13_2c" class="list-group-item">Pupuk</a>
                    <a href="/holtikuktura_13_2d" class="list-group-item">Benih</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Ubi Jalar (Musim 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3aa" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3ab" class="list-group-item">Biaya Pembukaan Lahan</a>
                    <a href="/holtikuktura_13_3ac" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_3ad" class="list-group-item">Biaya Pemeliharaan</a>
                    <a href="/holtikuktura_13_3ae" class="list-group-item">Biaya Panen</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Ubi Jalar (Musim 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3ba" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3bb" class="list-group-item">Biaya Pembukaan Lahan</a>
                    <a href="/holtikuktura_13_3bc" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_3bd" class="list-group-item">Biaya Pemeliharaan</a>
                    <a href="/holtikuktura_13_3be" class="list-group-item">Biaya Panen</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Ubi Kayu (Musim 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3ca" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3cb" class="list-group-item">Biaya Pembukaan Lahan</a>
                    <a href="/holtikuktura_13_3cc" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_3cd" class="list-group-item">Biaya Pemeliharaan</a>
                    <a href="/holtikuktura_13_3ce" class="list-group-item">Biaya Panen</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Ubi Kayu (Musim 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3da" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3db" class="list-group-item">Biaya Pembukaan Lahan</a>
                    <a href="/holtikuktura_13_3dc" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_3dd" class="list-group-item">Biaya Pemeliharaan</a>
                    <a href="/holtikuktura_13_3de" class="list-group-item">Biaya Panen</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Kedelai (Musim 1 /ha di Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3ea" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3eb" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/holtikuktura_13_3ec" class="list-group-item">Biaya Pemeliharaan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Kedelai (Musim 2 /ha di Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3fa" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3fb" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/holtikuktura_13_3fc" class="list-group-item">Biaya Pemeliharaan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Jagung Hibrida per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_3ga" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_3gb" class="list-group-item">Biaya Pengolahan Lahan</a>
                    <a href="/holtikuktura_13_3gc" class="list-group-item">Biaya Pemeliharaan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Pepaya California per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4aa" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4ab" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4ac" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4ad" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4ae" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4af" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4ag" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Durian per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4ba" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4bb" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4bc" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4bd" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4be" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4bf" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4bg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Mangga per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4ca" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4cb" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4cc" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4cd" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4ce" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4cf" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4cg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Manggis per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4da" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4db" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4dc" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4dd" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4de" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4df" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4dg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Rambutan per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4ea" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4eb" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4ec" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4ed" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4ee" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4ef" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4eg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Pisang per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4fa" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4fb" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4fc" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4fd" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4fe" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4ff" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4fg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Tanaman Jeruk California per Ha (Lahan Tegal)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_4ga" class="list-group-item">Biaya Bahan</a>
                    <a href="/holtikuktura_13_4gb" class="list-group-item">Biaya Pengolahan Tanah</a>
                    <a href="/holtikuktura_13_4gc" class="list-group-item">Biaya Pemeliharaan (Tahun 1)</a>
                    <a href="/holtikuktura_13_4gd" class="list-group-item">Biaya Pemeliharaan (Tahun 2)</a>
                    <a href="/holtikuktura_13_4ge" class="list-group-item">Biaya Pemeliharaan (Tahun 3)</a>
                    <a href="/holtikuktura_13_4gf" class="list-group-item">Biaya Pemeliharaan (Tahun 4)</a>
                    <a href="/holtikuktura_13_4gg" class="list-group-item">Biaya Pemeliharaan (Tahun 5)</a>
                  </div></br></br>

            <h4>Estimasi Biaya Pengolahan Tanaman Holtikuktura per Ha</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_5a" class="list-group-item">Pengolahan Tanah Kentang G.0</a>
                    <a href="/holtikuktura_13_5b" class="list-group-item">Pengolahan Tanah Kentang G.1</a>
                    <a href="/holtikuktura_13_5c" class="list-group-item">Pengolahan Tanah Kentang G.2.1 Ha</a>
                    <a href="/holtikuktura_13_5d" class="list-group-item">Sayuran (1 Ha) Selama 4 Bulan</a>
                    <a href="/holtikuktura_13_5e" class="list-group-item">Tanaman Indoor (Anggrek) Selama 1 Tahun</a>
                    <a href="/holtikuktura_13_5f" class="list-group-item">Tanaman Outdoor (Anggrek) Selama 1 Tahun</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Benih Kentang Kelas Benih Penjenis (BS)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_6a" class="list-group-item">Upah Harian Lepas</a>
                    <a href="/holtikuktura_13_6b" class="list-group-item">Sarana Produksi</a>
                    <a href="/holtikuktura_13_6c" class="list-group-item">Obat-obatan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Benih Kentang Kelas Benih Dasar (BD)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_7a" class="list-group-item">Upah Harian Lepas</a>
                    <a href="/holtikuktura_13_7b" class="list-group-item">Sarana Produksi</a>
                    <a href="/holtikuktura_13_7c" class="list-group-item">Obat-obatan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Budidaya Benih Kentang Kelas Benih Pokok (BP)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_8a" class="list-group-item">Upah Harian Lepas</a>
                    <a href="/holtikuktura_13_8b" class="list-group-item">Sarana Produksi</a>
                    <a href="/holtikuktura_13_8c" class="list-group-item">Obat-obatan</a>
                  </div></br></br>

            <h4>Standar Biaya Balai Pengembangan Benih Holtikultura</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_9" class="list-group-item">Pengembangan Benih Holtikultura</a>
                    <a href="/holtikuktura_13_10" class="list-group-item">Benih Buah Kelas Benih Pokok</a>
                  </div></br></br>

            <h4>Retribusi Penjualan Produksi Usaha Daerah Lingkup Pertanian Tanaman Pangan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_11a" class="list-group-item">Tanaman Hias Non Anggrek</a>
                    <a href="/holtikuktura_13_11b" class="list-group-item">Perbanyakan Krisan</a>
                    <a href="/holtikuktura_13_11c" class="list-group-item">Tanaman Obat</a>
                  </div></br></br>

            <h4>Standar Biaya Bantuan Keuangan Belanja Tidak Langsung (BTL)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_12" class="list-group-item">Bantuan Keuangan Biaya Operasional Penyuluh (BOP)</a>
                    <a href="/holtikuktura_13_13" class="list-group-item">Bantuan Keuangan Pengembangan POS Penyuluh Desa (POSLUHDES)</a>
                  </div></br></br>

            <h4>Daftar Standar Biaya Khusus pada BPSBTPH Provinsi Jawa Barat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_14" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Standar Biaya Khusus Balai Mekanisme TPH</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/holtikuktura_13_15" class="list-group-item">Pengujian Alat Mesin Pertanian dengan Menyediakan Bahan</a>
                    <a href="/holtikuktura_13_15" class="list-group-item">Pengujian Alat Mesin Pertanian (Alsintan) Tanpa Menyediakan Bahan </a>
                    <a href="/holtikuktura_13_15" class="list-group-item">Pengujian Ekofisiologi Tanaman</a>
                    <a href="/holtikuktura_13_15" class="list-group-item">Pengujian Laboratorium Fisiologi Hasil</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>