<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
  <div id="wrapper">
  <div class="page-header-data"><h2>Bidang Ketahanan Pangan dan Hortikultura</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Estimasi Biaya Budidaya Tanaman Pepaya California per Ha (Lahan Tegal)</h3>
            <h3>Biaya Pemeliharaan (Tahun 2)</h3></br>
                  <a href="/tambah_hortikultura_13_4ad" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>