<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
  <div id="wrapper">
  <div class="page-header-data"><h2>Bidang Ketahanan Pangan dan Hortikultura</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Standar Biaya Bantuan Keuangan Belanja Tidak Langsung (BTL)</h3>
            <h3>Bantuan Keuangan Pengembangan POS Penyuluh Desa (POSLUHDES)</h3></br>
                  <a href="/tambah_hortikultura_13_13" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>