<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Industri dan Perdagangan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
            <h3>Standarisasi dan Pengendalian Mutu Barang</h3></br>
                <h3>Standar Biaya Standarisasi dan Pengujian Mutu Barang</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_1a" class="list-group-item">Anak Timbangan</a>
                    <a href="/indag_10_1b" class="list-group-item">Timbangan Elektronik</a>
                    <a href="/indag_10_1c" class="list-group-item">Timbangan Mekanik</a>
                    <a href="/indag_10_1d" class="list-group-item">Crane Scale</a>
                    <a href="/indag_10_1e" class="list-group-item">Dead Weight Testing</a>
                    <a href="/indag_10_1f" class="list-group-item">Meter Kadar Air (MKA)</a>
                    <a href="/indag_10_1g" class="list-group-item">Pengujian Barang</a>
                  </div></br></br>

                <h3>Daftar Harga Standar Upah Tenaga Kasar dan Tenaga Bantuan Teknis Pengujian Standardisasi dan Pengujian Mutu Barang</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_2a" class="list-group-item">Biaya Pekerjaan Massa & Timbangan Verifikasi Alat Standar Massa</a>
                    <a href="/indag_10_2b" class="list-group-item">Pekerjaan Pengujian alat Ukuran Arus, Panjang dan Volume</a>
                  </div></br></br>

                <h3>Daftar Upah Tenaga Kasar dan Tenaga Bantuan Teknis  Standar Pengujian Mutu Barang</h3>
                <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_3" class="list-group-item">Daftar Upah Tenaga Kasar dan Tenaga Bantuan Teknis  Standar Pengujian Mutu Barang</a>
                  </div></br></br>

                <h3>Standar Biaya Uji laboratorium Makanan dan Minuman</h3>
                <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_4" class="list-group-item">Standar Biaya Uji laboratorium Makanan dan Minuman</a>
                  </div></br></br>

            <h3>Pengawasan Barang Beredar dan / Atau Jasa</h3>
                <h3>Standar Biaya Alat</h3>
                <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_5" class="list-group-item">Daftar Harga Standar Alat</a>
                  </div></br></br>

            <h3>Satuan Biaya Pemeliharaan SNI ISO/IEC 17025 Jasa Akreditasi (Akreditasi KAN)</h3>
                <h3>Standar Biaya Akreditasi</h3>
                <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_6" class="list-group-item">Daftar Biaya Pemeliharaan SNI ISO/IEC 17025</a>
                  </div></br></br>

            <h3>Pelayanan Perindustrian</h3>
                <h3>Standar Biaya Honorarium</h3>
                <div class="list-group" style="width: 50%;">
                    <a href="/indag_10_7" class="list-group-item">Standar Biaya Honorarium Tenaga Teknis Non PNS pada Sub Unit Pengembangan IKM dan Pengembangan Industri </a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>