<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perhubungan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Bidang Pelabuhan dan Pengerukan</h3>
                  <a href="/tambah_hub_4_1IIA" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>