<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perhubungan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
              <h4>Perhubungan Darat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/hub_4_1IA" class="list-group-item">Bidang Fasilitas Keselamatan Transportasi Jalan</a>
                    <a href="/hub_4_1IB" class="list-group-item">Bidang Prasarana Penyebrangan</a>
                    <a href="/hub_4_1IC" class="list-group-item">Bidang Perkeretaapian</a>
                  </div></br></br>

              <h4>Perhubungan Laut</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/hub_4_1IIA" class="list-group-item">Bidang Pelabuhan dan Pengerukan</a>
                    <a href="/hub_4_1IIB" class="list-group-item">Bidang Sarana Bantu Navigasi Pelayaran</a>
                  </div></br></br>

              <h4>Perhubungan Udara</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/hub_4_1IIIA" class="list-group-item">Bidang Bandar Udara dan Fasilitas Penunjangnya</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>