<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kesehatan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Tenaga Khusus Bidang Kesehatan Non PNS dan PNS Non Pemerintah Provinsi Jawa Barat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kesehatan_17_1" class="list-group-item">Biaya Tenaga  Pelayanan Kesehatan di Rumah Sakit Provinsi</a>
                    <a href="/kesehatan_17_2" class="list-group-item">Biaya Tenaga  Pelayanan Kesehatan di Unit Pelayanan Teknis (UPT)/Balai Dinas Kesehatan yang melakukan Pelayanan Kesehatan</a>
                    <a href="/kesehatan_17_3" class="list-group-item">Biaya Tenaga Pelayanan Kesehatan di RSUD Kabupaten/Kota dan Puskesmas/Desa di Daerah Terpencil, sangat Terpencil atau Tidak diminati</a>
                    <a href="/kesehatan_17_4" class="list-group-item">Biaya Tenaga Dokter Residen di Rumah Sakit Rujukan Regional  Provinsi Jawa Barat</a>
                  </div></br></br>

              <h4>Satuan Biaya Pembentukan Lembaga Penilai Kesesuaian (LPK/Lembaga Sertifikasi) Dinas Kesehatan Provinsi Jawa Barat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kesehatan_17_5" class="list-group-item">Satuan Biaya Pembentukan Lembaga Penilai Kesesuaian (LPK/Lembaga Sertifikasi) Dinas Kesehatan Provinsi Jawa Barat</a>
                    <a href="/kesehatan_17_6" class="list-group-item">Biaya Vaksinasi PNS dan Non PNS yang bertugas pada Pelayanan Kesehatan yang berisiko tertular</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>