<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Penelitian dan Pengembangan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Satuan Biaya Penilitian dan Pengembangan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/litbang_22_1" class="list-group-item">Biaya Penelitian dan Pengembangan</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>