<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>STANDAR BIAYA KHUSUS</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Bidang Kedinasan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebinamargaan" class="list-group-item">Bidang Kebinamargaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                    <a href="#" class="list-group-item">Bidang Sumber Daya Air</a>
                    <a href="#" class="list-group-item">Bidang Keciptakaryaan</a>
                  </div>
                  <a href="/Bidang" class="btn btn-success" role="button">Tambah Bidang</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>