<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
  <div id="wrapper">
  <div class="page-header-data"><h2>Standar Biaya Umum 2018</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Standar Biaya Umum yang Berfungsi Sebagai Batas Tertinggi (Tidak Dapat di Lampaui)</h3>

            <h4>Pendahuluan SBU</h4>
            <embed src="images/pendahuluan.pdf" width="100%" height="1200"> </embed></br></br>

            <h4>Batang Tubuh SBU</h4>
            <embed src="images/batangtubuh.pdf" width="100%" height="1200"> </embed></br></br>

            <h3>Standar Biaya Umum yang Berfungsi Sebagai Batas Tertinggi (Tidak dapat Dilampaui)</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kategoriA" class="list-group-item">Pengadaan Barang/Jasa</a>
                    <a href="/sbu1_2_11" class="list-group-item">Pemilihan Mitra Pemanfaatan Barang Milik Daerah</a>
                    <a href="/kategoriC" class="list-group-item">Pengadaan Tanah Bagi Pembangunan untuk Kepentingan Umum</a>
                    <a href="/sbu1_2_13D" class="list-group-item">Satuan Biaya Makanan dan Minuman Lembur</a>
                    <a href="/kategoriD" class="list-group-item">Jasa Narasumber, Moderator, Pembawa Acara, Rohaniwan, dan Pembaca Doa</a>
                    <a href="/sbu1_2_16" class="list-group-item">Honorarium Kegiatan untuk PNS Non Pemprov Jawa Barat dan Non PNS</a>
                    <a href="/sbu1_2_17" class="list-group-item">Honorarium Tenaga Teknis Non PNS</a>
                    <a href="/sbu1_2_18" class="list-group-item">Upah Harian Kegiatan Non PNS</a>
                    <a href="/sbu1_2_19" class="list-group-item">Honorarium Harian/Kegiatan/Pertemuan Non PNS</a>
                    <a href="/kategoriE" class="list-group-item">Honorarium Satpam, Pengemudi, Petugas Kebersihan, Pramubakti dan Front Office</a>
                    <a href="/sbu1_2_24" class="list-group-item">Honorarium Jasa Pengawalan Gubernur/Wakil Gubernur dan Ketua DPRD</a>
                    <a href="/kategoriF" class="list-group-item">Satuan Biaya Uang Saku Rapat dan Bantuan Biaya Transportasi</a>
                    <a href="/sbu1_2_26" class="list-group-item">Satuan Biaya Konsumsi Rapat</a>
                    <a href="/sbu1_2_27" class="list-group-item">Satuan Biaya Rapat/Pertemuan di Luar Kantor</a>
                    <a href="/sbu1_2_28" class="list-group-item">Satuan Biaya Sewa Kendaraan</a>
                    <a href="/kategoriG" class="list-group-item">Satuan Biaya BBM, Biaya Pelumasan, dan Biaya Pembayaran Pajak</a>
                    <a href="/sbu1_2_31" class="list-group-item">Biaya Pengamanan dan Biaya Ruang Tunggu dalam Rangka Kegiatan Pimpinan</a>
                    <a href="/kategoriH" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kategoriI" class="list-group-item">Biaya Penginapan Perjalanan Dinas</a>
                    <a href="/sbu1_2_52" class="list-group-item">Akomodasi</a>
                    <a href="/sbu1_2_53" class="list-group-item">Perjalanan Dinas Non PNS</a>
                    <a href="/sbu1_2_54" class="list-group-item">Penyetaraan TNI POLRI</a>
                    <a href="/sbu1_2_wo" class="list-group-item">Event Organizer (EO)</a>
                    <a href="/sbu1_2_55" class="list-group-item">Satuan Biaya Pakaian</a>
                    <a href="#" class="list-group-item">Kesejahteraan PNS di Lingkungan Pemprov Jawa Barat</a>
                    <a href="/sbu1_2_58" class="list-group-item">Satuan Biaya Makanan PEnambah Daya Tahan Tubuh</a>
                    <a href="/sbu1_2_59" class="list-group-item">Satuan Biaya Pemeliharaan ISO 9001-2001</a>
                    <a href="/sbu1_2_60" class="list-group-item">Pekerjaan Konsultasi Non Sertifikat</a>
                  </div></br>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>


  
