<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kehutanan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Pengelolaan Persemaian Permanen (Rp. /Unit/Tahun (Produksi 1.000.000 btg))</h3>
            <h3>(Operasional Persemaian Permanen)</h3>
            <h3>Belanja Sewa</h3></br>
                  <a href="/tambah_kehutanan_14_66d" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>