<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kehutanan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Kegiatan Pembuatan Tanaman Hutan Rakyat (Rp/Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_1a" class="list-group-item">Honor yang Terkait dengan Output Kegiatan</a>
                    <a href="/kehutanan_14_1b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_1c" class="list-group-item">Bibit</a>
                    <a href="/kehutanan_14_1d" class="list-group-item">Pengamanan dan Pemeliharaan Bibit Sementara</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Tanaman Hutan Rakyat (Pengkayaan Rp/Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_2a" class="list-group-item">Honor yang Terkait dengan Output Kegiatan</a>
                    <a href="/kehutanan_14_2b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_2c" class="list-group-item">Bibit</a>
                    <a href="/kehutanan_14_2d" class="list-group-item">Angkutan Lokal Bibit dan Pemeliharaan</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Areal Model Usaha Hutan Rakyat / Agroforestry (Rp. /Unit (25Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_3a" class="list-group-item">Honor yang Terkait dengan Output Kegiatan</a>
                    <a href="/kehutanan_14_3b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_3c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_3d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Areal Model Usaha Hutan Rakyat / Agroforestry Tahun 1 (Rp. /Unit (25Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_4a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_4b" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Areal Model Usaha Hutan Rakyat / Agroforestry Tahun 2 (Rp. /Unit (25Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_5a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_5b" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Penyususunan Rancangan Teknik/Kegiatan RHL (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_6a" class="list-group-item">Honor yang Terkait Output kegiatan</a>
                    <a href="/kehutanan_14_6b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_6c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_6d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Tanaman Hutan Kota (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_7a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_7b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_7c" class="list-group-item">Angkutan Lokal Bibit dan Pemeliharaan</a>
                    <a href="/kehutanan_14_7d" class="list-group-item">Pembibitan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Tanaman Hutan Kota Tahun 1 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_8a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_8b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_8c" class="list-group-item">Angkutan Lokal Bibit dan Pemeliharaan</a>
                    <a href="/kehutanan_14_8d" class="list-group-item">Pembibitan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Tanaman Hutan Kota Tahun 2 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_9a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_9b" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Tanaman Turus Jalan (Rp. /Km (400btg/Km))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_10a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_10b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_10c" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Persemaian (Rp. /Unit (400.000 btg))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_11a" class="list-group-item">Honor yang Terkait Output Kegiatan</a>
                    <a href="/kehutanan_14_11b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_11c" class="list-group-item">Alat-alat Persemaian</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Rehabilitasi Hutan Mangrove (Sabuk Hijau/Green Belt)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_12a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_12b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Rehabilitasi Hutan Mangrove (Empang Parit)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_13a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_13b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Penyusunan Rancangan Teknik Rehabilitasi Hutan (1 Unit = 50Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_14a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_14b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_14c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_14d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pemeliharaan Rehabilitasi Hutan Mangrove Tahun 1 (Sabuk Hijau/Green Belt)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_15a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_15b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pemeliharaan Rehabilitasi Hutan Mangrove Tahun 2 (Sabuk Hijau/Green Belt)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_16a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_16b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pemeliharaan Rehabilitasi Hutan Mangrove Tahun 1 (Empang Parit)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_17a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_17b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pemeliharaan Rhabilitasi Hutan Mangrove Tahun 2 (Empang Parit)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_18a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_18b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Sosialisasi Pembangunan Hutan Mangrove</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_19a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_19b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_19c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_19d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pembinaan/Bimbingan Teknis Hutan Mangrove</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_20a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_20b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_20c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_20d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Rincian Standar Biaya Pemeriksaan Kemajuan Kegiatan Pembangunan Hutan Mangrove</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_21a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_21b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_21c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_21d" class="list-group-item">lain-Lain</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Areal Model Hutan Bakau Pola Green Belt (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_22a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_22b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Areal Model Budidaya Tanaman (Empang Parit (Rp. /Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_23a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_23b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Tanaman Green Belt Tahun 1 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_24a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_24b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Tanaman Green Belt Tahun 2 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_25a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_25b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Areal Model Budidaya Tanaman Bakau (Empang Parit) Tahun 1 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_26a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_26b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Pemeliharaan Areal Model Budidaya Tanaman Bakau (Empang Parit) Tahun 2 (Rp. /Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_27a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_27b" class="list-group-item">Bahan-Bahan</a>
                  </div></br></br>

            <h4>Kegiatan Penyusunan Rancangan Teknis Rehabilitasi Hutan Bakau (per Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_28a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_28b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_28c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_28d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Kegiatan Penyusunan Rancangan Areal Model Hutan Bakau (Per Unit (10 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_29a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_29b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_29c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_29d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Kegiatan Penyusunan Rancangan Empang Parit Hutan Bakau (Per Unit)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_30a" class="list-group-item">Gaji dan Upah</a>
                    <a href="/kehutanan_14_30b" class="list-group-item">Bahan-Bahan</a>
                    <a href="/kehutanan_14_30c" class="list-group-item">Perjalanan Dinas</a>
                    <a href="/kehutanan_14_30d" class="list-group-item">Lain-Lain</a>
                  </div></br></br>

            <h4>Kegiatan Rehabilitasi dan Pemeliharaan Hutan Mangrove Pola Swakelola Masyarakat (per btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_31" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Kegiatan Rehabilitasi dan Pemeliharaan Hutan Mangrove Pola Khusus Arus Deras (per btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_32" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Kegiatan Rehabilitasi dan Pemeliharaan Hutan Pantai Pola Swakelola Masyarakat (per btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_33" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Kegiatan Rehabilitasi dan Pemeliharaan Hutan Rakyat Pola Swakelola Masyarakat (per btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_34" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Kegiatan Pembuatan Persemaian Pola Swakelola Masyarakat (per btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_35" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Kegiatan Pembangunan Model Kawasan Lindung Pola Swakelola Masyarakat (per Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_36" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Analisa Unit Usaha Jamur Kayu (1 Unit = 15.000 bag log)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_37" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Analisa Usaha Budidaya Lebah Madu (1 Unit = 100 stup)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_38a" class="list-group-item">Biaya Tetap</a>
                    <a href="/kehutanan_14_38b" class="list-group-item">Biaya Operasional</a>
                  </div></br></br>

            <h4>Penyusunan Rancangan, Penyiapan dan Pengukuran Lokasi ASDG (Rp. /Unit (5 Ha)) </h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_39a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_39b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_39c" class="list-group-item">Belanja Perjalanan Dinas</a>
                    <a href="/kehutanan_14_39d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Identifikasi Sebaran Alami dan Pengamatan Variasi Genetik dala Rangka Pembangunan ASDG (Rp. /5 provenan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_40a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_40b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_40c" class="list-group-item">Belanja Perjalanan Dinas</a>
                    <a href="/kehutanan_14_40d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Eksplorasi Materi Genetik per Provenan dalam Rangka Pembangunan ASDGv(Rp. /provenan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_41a" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_41b" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_41c" class="list-group-item">Belanja Perjalanan Biasa</a>
                    <a href="/kehutanan_14_41d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Pembibitan per Provenan dalam Rangka Pembangunan ASDG (Rp. /5 provenan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_42a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_42b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_42c" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div></br></br>

            <h4>Penanaman dan Pemeliharaan Tahun Berjalan dalam Rangka Pembangunan ASDG (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_43a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_43b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_43c" class="list-group-item">Belanja Perjalanan Biasa</a>
                    <a href="/kehutanan_14_43d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                    <a href="/kehutanan_14_43e" class="list-group-item">Honor Output Kegiatan (3 Bulan Setelah Ditanam)</a>
                  </div></br></br>

            <h4>Pemeliharaan ASDG Tahun Pertama (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_44a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_44b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_44c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan ASDG Tahun Kedua (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_45a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_45b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_45c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan ASDG Tahun Ketiga (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_46a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_46b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_46c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan ASDG Tahun Keempat (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_47a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_47b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_47c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pengukuran dan Pengamatan Karakteristik ASDG Tahun 1 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_48a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_48b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_48c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pengukuran dan Pengamatan Karakteristik ASDG Tahun 2 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_49a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_49b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_49c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pengukuran dan Pengamatan Karakteristik ASDG Tahun 3 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_50a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_50b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_50c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pengukuran dan Pengamatan Karakteristik ASDG Tahun 4 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_51a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_51b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_51c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Eksplorasi dan Koleksi Materi Genetik dalam Rangka Pembangunan KBS/KBK (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_52a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_52b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_52c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Survey, Pengukuran, dan Penyusunan Rancangan dalam Rangka Pembangunan KBS/KBK (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_53a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_53b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_53c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pembuatan Bibit dalam Rangka Pembangunan KBS (Rp. /Unit (10.020 btg))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_54a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_54b" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Penanaman dan Pemeliharaan Tahun Berjalan dalam Rangka Pembangunan Kebun Benih Semai (Rp. /Unit (5 Ha))</h4></br>
            <h4>Persiapan Lahan (5 Ha)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_55a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_55b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_55c" class="list-group-item">Belanja Perjalanan Biasa</a>
                    <a href="/kehutanan_14_55d" class="list-group-item">Belanja Barang Non Operasional Lainnya</a>
                  </div>
            <h4>Penanaman</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_55e" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_55f" class="list-group-item">Belanja Perjalanan Biasa</a>
                    <a href="/kehutanan_14_55g" class="list-group-item">Belanja Bahan</a>
                  </div>
            <h4>Pemeliharan Tahun Berjalan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_55h" class="list-group-item">Honor Output Kegiatan</a>
                  </div></br></br>

            <h4>Pemeliharaan dan Pengukuran Kebun Benih Semai Tahun Pertama (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_56a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_56b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_56c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan dan Pengukuran Kebun Benih Semai Tahun Kedua (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_57a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_57b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_57c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan dan Pengukuran Kebun Benih Semai Tahun Ketiga (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_58a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_58b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_58c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan dan Pengukuran Kebun Benih Semai Tahun Keempat (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_59a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_59b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_59c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan Sumber Benih APB Tahun 1 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_60a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_60b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_60c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan Sumber Benih APB Tahun 2 (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_61a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_61b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_61c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pemeliharaan Sumber Benih APB Tahun 3 .dst (Rp. /Unit (5 Ha))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_62a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_62b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_62c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Sertifikasi Mutu Benih Tanaman Hutan (Rp. /Sample /Jenis)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_63a" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_63b" class="list-group-item">Peralatan dan Mesin</a>
                    <a href="/kehutanan_14_63c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Sertifikasi Mutu Bibit Tanaman Hutan (Rp. /Lokasi)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_64a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_64b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_64c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Sertifikasi Sumber Benih (Rp. /Lokasi)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_65a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_65b" class="list-group-item">Belanja Bahan</a>
                    <a href="/kehutanan_14_65c" class="list-group-item">Belanja Perjalanan Biasa</a>
                  </div></br></br>

            <h4>Pengelolaan Persemaian Permanen (Rp. /Unit/Tahun (Produksi 1.000.000 btg))</h4></br>
            <h4>Operasional Persemaian Permanen</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_66a" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_66b" class="list-group-item">Belanja Barang Non Operasiona Lainnya</a>
                    <a href="/kehutanan_14_66c" class="list-group-item">Belanja Perjalanan Biasa</a>
                    <a href="/kehutanan_14_66d" class="list-group-item">Belanja Sewa</a>
                    <a href="/kehutanan_14_66e" class="list-group-item">Biaya Langganan Listrik</a>
                  </div>
            <h4>Produksi Bibit</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_66f" class="list-group-item">Honor Output Kegiatan</a>
                    <a href="/kehutanan_14_66g" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Pembuatan Bibit Mangrove dari Propagul (Rp. /50.000 btg)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_67a" class="list-group-item">Honor yang Terkait dengan Output Kegiatan</a>
                    <a href="/kehutanan_14_67b" class="list-group-item">Belanja Bahan</a>
                  </div></br></br>

            <h4>Standar Sarana dan Prasarana Penilaian Sumber Benih (1 Tim Penilai)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_68" class="list-group-item">Standar Biaya</a>
                  </div></br></br>

            <h4>Standar Sarana dan Prasarana Pengujian Mutu Benih (1 Unit)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kehutanan_14_69a" class="list-group-item">Bangunan</a>
                    <a href="/kehutanan_14_69b" class="list-group-item">Alat Laboratorium</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>