<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kehutanan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Rincian Standar Biaya Pemeliharaan Rehabilitasi Hutan Mangrove Tahun 1 (Empang Parit)</h3>
            <h3>Gaji dan Upah</h3></br>
                  <a href="/tambah_kehutanan_14_17a" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>