<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang ESDM</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Biaya Satuan Pemasangan Instalasi Rumah (IR) dan Biaya Penyambungan (BR)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_1a" class="list-group-item">Instalasi Rumah (IR)</a>
                    <a href="/esdm_20_1b" class="list-group-item">Biaya Penyambungan Baru</a>
                  </div></br></br>

            <h4>Biaya Satuan Pembangunan Saluran Udara Teganagan Menengah (SUTM)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_2a" class="list-group-item">Jasa Pemasangan SUTM</a>
                    <a href="/esdm_20_2b" class="list-group-item">Biaya Pengadaan Material MDU</a>
                    <a href="/esdm_20_2c" class="list-group-item">Biaya Pengadaan Material Accessories SUTM</a>
                  </div></br></br>

            <h4>Biaya Satuan Pembangunan Gardu Cantol Kapasitas 100 KVA </h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_3a" class="list-group-item">Jasa Pemasangan Gardu Cantol 100 KVA</a>
                    <a href="/esdm_20_3b" class="list-group-item">Biaya Pengadaan Material MDU Gardu</a>
                    <a href="/esdm_20_3c" class="list-group-item">Biaya Pengadaan Material Accessories Gardu</a>
                  </div></br></br>

            <h4>Biaya Satuan Pembangunan Gardu Cantol Kapasitas 50 KVA </h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_4a" class="list-group-item">Jasa Pemasangan Gardu Cantol 50 KVA</a>
                    <a href="/esdm_20_4b" class="list-group-item">Biaya Pengadaan Material MDU Gardu</a>
                    <a href="/esdm_20_4c" class="list-group-item">Biaya Pengadaan Material Accessories Gardu</a>
                  </div></br></br>

            <h4>Biaya Satuan Pembangunan Saluran Udara Teganagan Menengah</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_5a" class="list-group-item">Jasa SUTR</a>
                    <a href="/esdm_20_5b" class="list-group-item">Biaya Pengadaan Material MDU SUTR</a>
                    <a href="/esdm_20_5c" class="list-group-item">Biaya Pengadaan Material Accessories SUTR</a>
                  </div></br></br>

            <h4>Satuan Biaya Pembuatan Sumur</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/esdm_20_6" class="list-group-item">Pembuatan Sumur Imbuhan</a>
                    <a href="/esdm_20_7" class="list-group-item">Pembuatan Sumur Pantau</a>
                    <a href="/esdm_20_8" class="list-group-item">Pembuatan Sumur Bor Dalam</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>