<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Ketahanan Pangan dan Peternakan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

                <h3>A. Biaya Tenaga Pelayanan Kesehatan Hewan di Rumah Sakit Hewan Jawa Barat</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/peternakan_15_1" class="list-group-item">Honorarium Non PNS dan PNS Non Provinsi Tenaga Pelayanan Kesehatan Hewan </a>
                  </div></br></br>

                  <h3>B. Pengadaan Pakan Unggas</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/peternakan_15_2" class="list-group-item">Satuan Biaya Pengadaann Pakan Unggas</a>
                  </div></br></br>

                  <h3>C. Pengadaan Alat-alat Pertanian dan Peternakan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/peternakan_15_3" class="list-group-item">Satuan Biaya Pengadaan Alat Pertanian dan Peternakan</a>
                  </div></br></br>

                  <h3>D. Estimasi Biaya Rehab Kebun Rumput Per HektarJenis Rumput Gajah, King Grass, Odot</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/peternakan_15_4" class="list-group-item">Estimasi Biaya Rehab Kebun Rumput Per HektarJenis Rumput Gajah, King Grass, Odot</a>
                    <a href="/peternakan_15_5" class="list-group-item">Estimasi  Biaya  Pemeliharaan Kebun Rumput Per  Hektar/Tahun</a>
                  </div></br></br>

                  <h3>E. Obat-obatan Bidang Peternakan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/peternakan_15_6" class="list-group-item">Obat-obatan Bidang Peternakan</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>