<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Lingkungan Hidup</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
              <h4>Pengujian Parameter Kualitas Lingkungan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/lh_5_1a" class="list-group-item">Uji Udara Emisi</a>
                    <a href="/lh_5_1b" class="list-group-item">Uji Udara Ambien</a>
                    <a href="/lh_5_1c" class="list-group-item">Pengukuran Kebisingan</a>
                    <a href="/lh_5_1d" class="list-group-item">Uji Air dan Limbah Cair</a>
                    <a href="/lh_5_1e" class="list-group-item">Uji Parameter Biologi</a>
                    <a href="/lh_5_1f" class="list-group-item">Uji Air Laut</a>
                    <a href="/lh_5_1g" class="list-group-item">Uji Limbah Padat dan Limbah B3</a>
                  </div></br></br>

              <h4>Pengambilan Contoh Parameter Kualitas Lingkungan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/lh_5_2" class="list-group-item">Pengambilan Contoh Parameter Kualitas Lingkungan</a>
                    <a href="/lh_5_3" class="list-group-item">Honorarium Tenaga Non PNS yang bertugas sebagai Fasilitator Lingkungan dan Tenaga Pemantau/Patroli Sungai Berbasis Masyarakat Pada Kegiatan Lingkungan</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>