<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Tenaga Kerja dan Transmigrasi</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Standar Belanja Khusus Bidang Tenaga Kerja dan Transmigrasi</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/nakertrans_21_1a" class="list-group-item">Upah Perangsang Kerja (UPK)</a>
                    <a href="/nakertrans_21_1b" class="list-group-item">Belanja Bahan Percontohan Praktek</a>
                    <a href="/nakertrans_21_1c" class="list-group-item">Lainnya</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>