<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Olahraga</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Tenaga Non PNS Khusus Bidang Olahraga dan Pemuda</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/or_19_1" class="list-group-item">Tenaga Khusus Bidang Olahraga Non PNS</a>
                  </div></br></br>

            <h4>Biaya Makan untuk siswa PPLP dan Atlit</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/or_19_2" class="list-group-item">Satuan Biaya Makan untuk siswa PPLP dan Atlit</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>