<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perkebunan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet</h3>
            <h3>Pemeliharaan saluran air 40 m per HOK Tahun 2 (630 pohon/Ha)</h3>
            <h3>Biaya Tenaga Kerja</h3></br>
                  <a href="/tambah_kebun_8_10a" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>