<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perkebunan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (Penanaman Baru Tahun 0)</h3>
            <h3>Biaya Bahan-Bahan</h3></br>
                  <a href="/tambah_kebun_8_4b" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>