<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    <div id="wrapper">
    <div class="page-header-data"><h2>Bidang Perkebunan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Standar Baku Teknis Pembenihan Karet</h3>
            <h3>Biaya Upah Tenaga Kerja (Pengecambahan dalam Polybag)</h3></br>
                  <a href="/tambah_kebun_8_44ac" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>