<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perkebunan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per hektar Jenis Tanaman Teh (Rehabilitasi Tahun I)</h3>
            <h3>Biaya Tenaga Kerja</h3></br>
                  <a href="/tambah_kebun_8_1a" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        </div>
       </div>
       <div id="browse">
             <input type="file" id="input-excel" />
        </div>
      <script>
        $('#input-excel').change(function(e){
                var reader = new FileReader();
                reader.readAsArrayBuffer(e.target.files[0]);
                reader.onload = function(e) {
                        var data = new Uint8Array(reader.result);
                        var wb = XLSX.read(data,{type:'array'});
                        var htmlstr = XLSX.write(wb,{sheet:"Table 7_2 Perpustakaan", type:'binary',bookType:'html'});
                        $('.page-container')[0].innerHTML += htmlstr;
                }
        });
</script>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>