<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perkebunan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (Rehabilitasi Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_1a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_1b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_1c" class="list-group-item">Biaya Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (Rehabilitasi Tahun 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_2a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_2b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_2c" class="list-group-item">Biaya Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (Rehabilitasi Tahun 3)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_3a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_3b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_3c" class="list-group-item">Biaya Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (Penanaman Baru Tahun 0)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_4a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_4b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_4c" class="list-group-item">Biaya Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (P1 Penanaman)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_5a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_5b" class="list-group-item">Biaya Bahan-Bahan</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (P2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_6a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_6b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Teh (P3)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_7a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_7b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet (Penanaman Tahun 0)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_8a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_8b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet (Pemeliharaan Tahun 1 (650 Pohon/Hektar))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_9a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_9b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet</h4>
            <h4>Pemeliharaan Saluran Air 40m/HOK (Tahun 2 (630 Pohon/Hektar))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_10a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_10b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet</h4>
            <h4>Pemeliharaan Saluran Air 40m/HOK (Tahun 3 (620 Pohon/Hektar))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_11a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_11b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Perluasan dan Peremajaan Tanaman Perkebunan Jenis Tanaman Karet (Tahun 4 (600 Pohon/Hektar))</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_12a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_12b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Persiapan Lahan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_13a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_13b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Penanaman Tahun 0)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_14a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_14b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Pemeliharaan Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_15a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_15b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Pemeliharaan Tahun 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_16a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_16b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Pemeliharaan Tahun 3)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_17a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_17b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Cengkeh (Pemeliharaan Tahun 4 dst.)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_18a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_18b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kakao (Persiapan Lahan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_19a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_19b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kakao (Penanaman Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_20a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_20b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kakao (Pemeliharaan Tahun 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_21a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_21b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kakao (Pemeliharaan Tahun 3)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_22a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_22b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kelapa Sawit (Persiapan Lahan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_23a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_23b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kelapa Sawit (Penanaman Tahun 0)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_24a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_24b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kelapa Sawit (Pemeliharaan Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_25a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_25b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kelapa Sawit (Pemeliharaan Tahun 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_26a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_26b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Tebu (Tegalan)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_27a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_27b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Tebu (Sawah)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_28a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_28b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Tebu (Sawah - TRIS I)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_29a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_29b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Penanaman Tahun 0)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_30a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_30b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Pemeliharaan Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_31a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_31b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Pemeliharaan Tahun 2)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_32a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_32b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Pemeliharaan Tahun 3)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_33a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_33b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Pemeliharaan Tahun 4)</h4>
            <h4>Pemeliharaan Tanaman Menghasilkan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_34a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_34b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Kopi (Pemeliharaan Tahun 5)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_35a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_35b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Estimasi Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Akarwangi (Penanaman Tahun 1)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_36a" class="list-group-item">Biaya Tenaga Kerja</a>
                    <a href="/kebun_8_36b" class="list-group-item">Biaya Bahan-Bahan dan Alat</a>
                  </div></br></br>

            <h4>Estimasi Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Akarwangi</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_37a" class="list-group-item">Biaya Tenaga Kerja (Gaji/Upah)</a>
                    <a href="/kebun_8_37b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_37c" class="list-group-item">Biaya Panen/Pasca Panen (Gaji/Upah)</a>
                    <a href="/kebun_8_37d" class="list-group-item">Biaya Penyulingan (Gaji/Upah)</a>
                    <a href="/kebun_8_37e" class="list-group-item">Biaya Bahan Penyulingan</a>
                  </div></br></br>

            <h4>Estimasi Biaya Persiapan Lahan Penanaman Tanaman Perkebunan per Hektar Jenis Tanaman Tembakau</h4>
            <h4>Standar Biaya Usaha Tani Tembakau Rajangan (Intensif)</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_38a" class="list-group-item">Biaya Pengolahan Tanah Upah Kerja</a>
                    <a href="/kebun_8_38b" class="list-group-item">Biaya Penanaman dan Pemeliharaan</a>
                    <a href="/kebun_8_38c" class="list-group-item">Biaya Bahan dan Alat</a>
                    <a href="/kebun_8_38d" class="list-group-item">Biaya Panen dan Pengolahan</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Akarwangi dalam Polybag</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_39a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_39b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_39c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_39d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Cengkeh</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_40a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_40b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_40c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_40d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kakao</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_41a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_41b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_41c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_41d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Lada Panjat</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_42a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_42b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_42c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_42d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Teh</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_43a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_43b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_43c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_43d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Karet</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_44aa" class="list-group-item">Biaya Upah Tenaga Kerja (Pengecambahan)</a>
                    <a href="/kebun_8_44ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_44ac" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan dalam Polybag)</a>
                    <a href="/kebun_8_44b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_44c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_44d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kopi</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_45aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_45ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_45b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_45c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_45d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kelapa Dalam</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_46aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_46ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_46b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_46c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_46d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Aren<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_47aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_47ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_47b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_47c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_47d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Panili<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_48a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_48b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_48c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_48d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Nilam<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_49a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_49b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_49c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_49d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kemiri<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_50aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_50ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_50b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_50c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_50d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Tembakau<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_51a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_51b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_51c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_51d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Cabe Jamu/Cabe Jawa<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_52a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_52b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_52c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_52d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Tebu<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_53aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persiapan Buka Kebun)</a>
                    <a href="/kebun_8_53ab" class="list-group-item">Biaya Upah Tenaga Kerja (Penanaman dan Pemeliharaan)</a>
                    <a href="/kebun_8_53ac" class="list-group-item">Biaya Upah Tenaga Kerja (Pra dan Panen)</a>
                    <a href="/kebun_8_53b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_53c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_53d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kelapa Sawit<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_54aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_54ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_54b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_54c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_54d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kemiri Sunan<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_55aa" class="list-group-item">Biaya Upah Tenaga Kerja (Persemaian)</a>
                    <a href="/kebun_8_55ab" class="list-group-item">Biaya Upah Tenaga Kerja (Pembenihan)</a>
                    <a href="/kebun_8_55b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_55c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_55d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Pala<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_56a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_56b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_56c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_56d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Standar Baku Teknis Pembenihan Kayu Manis<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_57a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_57b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_57c" class="list-group-item">Biaya Lahan</a>
                    <a href="/kebun_8_57d" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Penerapan Metode PHT Tepat Guna Per Hektar komoditi Kopi<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_58a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_58b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_58c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT Pada Tanaman Tembakau Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_59a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_59b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_59c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT Pada Tanaman Kopi Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_60a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_60b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_60c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT Pada Tanaman Teh Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_61a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_61b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_61c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengembangan Pestisida Nabati Jenis Tanaman Nimba untuk 5000 Pohon<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_62a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_62b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_62c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Klinik Hama dan Penyakit Perkebunan per Kabupaten<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_63a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_63b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_63c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT pada Tanaman Kakao Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_64a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_64b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_64c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT pada Tanaman Kelapa Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_65a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_65b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_65c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Eksplorasi Musuh Alami dan Identifikasi OPT per Kabupaten<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_66a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_66b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_66c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pembuatan Agens Pengendali Hayati<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_67a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_67b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_67c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT pada Tanaman Karet Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_68a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_68b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_68c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Penanganan Eksplosif OPT Perkebunan<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_69a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_69b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_69c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT pada Tanaman Tebu Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_70a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_70b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_70c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>

            <h4>Biaya Pengendalian OPT pada Tanaman Cengkeh Perkebunan per Hektar<h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebun_8_71a" class="list-group-item">Biaya Upah Tenaga Kerja</a>
                    <a href="/kebun_8_71b" class="list-group-item">Biaya Bahan-Bahan</a>
                    <a href="/kebun_8_71c" class="list-group-item">Biaya Alat-Alat</a>
                  </div></br></br>



        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>