<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Sosial</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>

                <h3>A. Kebutuhan Klien</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>B. Kebutuhan Pelayanan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>C. Kebutuhan Pendidikan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>D. Pakaian dan Perlengkapannya</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>E. Perlengkapan Mandi dan Cuci</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>F. Peralatan Kebersihan dan Bahan Pembersih</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>F. Peralatan Makan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>G. Bahan Percontohan/Praktek</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>H. Penggantian Alat Praktek</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>I. Biaya Pernikahan Klien</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>J. Kebencanaan</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>

                  <h3>K. Lain-lain</h3>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sosial_16_" class="list-group-item"></a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>