<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: white;">KEPGUB SBU & SBK 2018</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Halaman Utama</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SBK 2018 <span class="caret"></span></a>
              <ul class="dropdown-menu scrollable-menu" role="menu">
                  <li class="dropdown-header">Bidang Kedinasan</li>
                  <li><a href="/kebinamargaan">Bidang Kebinamargaan</a></li>
                  <li><a href="#">Bidang Sumber Daya Air</a></li>
                  <li><a href="#">Bidang Keciptakaryaan</a></li>
                  <li><a href="#">Bidang Perhubungan</a></li>
                  <li><a href="#">Bidang Lingkungan Hidup</a></li>
                  <li><a href="#">Bidang Kearsipan</a></li>
                  <li><a href="#">Bidang Perpustakaan</a></li>
                  <li><a href="#">Bidang Perkebunan</a></li>
                  <li><a href="#">Bidang Kebudayaan dan Pariwisata</a></li>
                  <li><a href="#">Bidang Industri dan Perdagangan</a></li>
                  <li><a href="#">Bidang Promosi dan Penanaman Modal</a></li>
                  <li><a href="#">Bidang Informatika</a></li>
                  <li><a href="#">Bidang Tanaman Pangan dan Hortikultura</a></li>
                  <li><a href="#">Bidang Kehutanan</a></li>
                  <li><a href="#">Bidang Ketahanan Pangan dan Peternakan</a></li>
                  <li><a href="#">Bidang Sosial</a></li>
                  <li><a href="#">Bidang Kesehatan</a></li>
                  <li><a href="#">Bidang Kediklatan</a></li>
                  <li><a href="#">Bidang Olahraga</a></li>
                  <li><a href="#">Bidang ESDM</a></li>
                  <li><a href="#">Bidang Tenaga Kerja dan Transmigrasi</a></li>
                  <li><a href="#">Bidang Penelitian dan Pengembangan</a></li>
                  <li><a href="#">Bidang Lainnya</a></li>
                </ul>
            </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SBU 2018 <span class="caret"></span></a>
              <ul class="dropdown-menu scrollable-menu" role="menu">
                  <li class="dropdown-header">SBU Sebagai Batas Tertinggi</li>
                  <li><a href="#">Pengadaan Barang dan Jasa</a></li>
                  <li><a href="#">Pemilihan Mitra Pemanfaatan Barang Milik Pemerintah</a></li>
                  <li><a href="#">Pengadaan Tanah Bagi Pembangunan Untuk Kepentingan Umum</a></li>
                  <li><a href="#">Satuan Biaya Makanan dan Minuman Lembur</a></li>
                  <li><a href="#">Jasa Narasumber, Moderator, Pembawa Acara, Rohaniwan dan Pembaca Doa</a></li>
                  <li><a href="#">Honorarium Kegiatan Untuk PNS Non Pemprov Jabar dan Non PNS</a></li>
                  <li><a href="#">Honorarium Tenaga Teknis Non PNS</a></li>
                  <li><a href="#">Upah Harian Kegiatan Non PNS</a></li>
                  <li><a href="#">Honorarium Harian/Kegiatan/Pertemuan Non PNS</a></li>
                  <li><a href="#">Honorarium SATPAM, Pengemudi, Petugas Kebersihan, Pramubakti, dan Front Office</a></li>
                  <li><a href="#">Honorarium Jasa Pengawalan Gubernur/Wakil/Ketua DPRD</a></li>
                  <li><a href="#">Satuan Biaya Uang Saku Rapat dan Bantuan Biaya Transportasi</a></li>
                  <li><a href="#">Satuan Biaya Konsumsi Rapat</a></li>
                  <li><a href="#">Satuan Biaya Rapat/Pertemuan di Luar Kantor</a></li>
                  <li><a href="#">Satuan Biaya Sewa Kendaraan</a></li>
                  <li><a href="#">Satuan Biaya BBM, Biaya Pelumasan, dan Biaya Pembayaran Pajak Kendaraan Dinas</a></li>
                  <li><a href="#">Biaya Pengamanan dan Ruang Tunggu dalam Rangka Kegiatan Pimpinan</a></li>
                  <li><a href="#">Perjalanan Dinas</a></li>
                  <li><a href="#">Biaya Penginapan Perjalanan Dinas</a></li>
                  <li><a href="#">Akomodasi</a></li>
                  <li><a href="#">Perjalanan Dinas Non PNS</a></li>
                  <li><a href="#">Penyetaraan TNI dan POLRI</a></li>
                  <li><a href="#">Event Organizer (EO)</a></li>
                  <li><a href="#">Satuan Biaya Pakaian</a></li>
                  <li><a href="#">Kesejahteraan PNS di Lingkungan Pemprov Jawa Barat</a></li>
                  <li><a href="#">Satuan Biaya Makanan Penambah Daya Tahan Tubuh</a></li>
                  <li><a href="#">Satuan Biaya Pemeliharaan ISO 9001-2000</a></li>
                  <li><a href="#">Pekerjaan Konsultasi Non Sertifikat</a></li>

                  <li class="divider"></li>
                  <li class="dropdown-header">SBU Estimasi</li>
                  <li><a href="#">Satuan Biaya Gedung/Lapangan Olahraga</a></li>
                  <li><a href="#">Satuan Biaya Taksi Perjalanan Dinas Jabatan Luar Provinsi</a></li>
                  <li><a href="#">Satuan Biaya Tiket Pesawat Perjalanan Dinas Luar Provinsi (PP)</a></li>
                  <li><a href="#">Satuan Biaya Pemeliharaan ISO 9001-2000</a></li>
                  <li><a href="#">Pekerjaan Konsultasi Non Sertifikat</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </nav>