<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kebinamargaan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
              <h4>Biaya Kegiatan Fisik Jalan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebinamargaan_1_1" class="list-group-item">Harga Satuan Peningkatan Jalan (Hotmix)</a>
                    <a href="/kebinamargaan_1_2" class="list-group-item">Harga Satuan Peningkatan Jalan (Beton)</a>
                    <a href="/kebinamargaan_1_3" class="list-group-item">Harga Satuan Kegiatan Rehabiltasi/Pemeliharaan Berkala (Hotmix)</a>
                    <a href="/kebinamargaan_1_4" class="list-group-item">Harga Satuan Kegiatan Pemeliharaan Rutin</a>
                    <a href="/kebinamargaan_1_5" class="list-group-item">Harga Satuan Kegiatan Pemeliharaan Rutin*</a>
                    <a href="/kebinamargaan_1_6" class="list-group-item">Harga Satuan Kegiatan Pembangunan Jalan Baru (Hotmix)</a>
                    <a href="/kebinamargaan_1_7" class="list-group-item">Harga Satuan Kegiatan Pembangunan Jalan Baru (Beton)</a>
                    <a href="/kebinamargaan_1_8" class="list-group-item">Harga Satuan Kehiatan Bahu Diperkeras (Beton)</a>
                    <a href="/kebinamargaan_1_9" class="list-group-item">Harga Satuan Kegiatan Pelebaran Jalan (Beton)</a>
                    <a href="/kebinamargaan_1_10" class="list-group-item">Harga Satuan Kegiatan Pelebaran Jalan (Agregat)</a>
                    <a href="/kebinamargaan_1_11" class="list-group-item">Harga Satuan Kegiatan Rekonstruksi Jalan (Hotmix)</a>
                  </div></br></br>

                  <h4>Biaya Kegiatan Fisik Jembatan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebinamargaan_1_12" class="list-group-item">Harga Satuan Dasar Minimal Penangnan Jembatan</a>
                  </div></br></br>

                  <h4>Kegiatan Perencanaan dan Pengawasan Teknis Jalan dan Jembatan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebinamargaan_1_13" class="list-group-item">Harga Satuan Kegiatan Non-Fisik</a>
                  </div></br></br>

                  <h4>Biaya Sewa Alat/Kendaraan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/kebinamargaan_1_17" class="list-group-item">Harga Sewa Alat/Kendaraan</a>
                  </div></a></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>