<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kebinamargaan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Biaya Kegiatan Fisik Jalan</a>
                    <a href="#" class="list-group-item">Biaya Kegiatan Fisik Jembatan</a>
                    <a href="#" class="list-group-item">Kegiatan Perencanaan dan Pengawasan Teknis Jalan dan Jembatan</a>
                    <a href="#" class="list-group-item">Kegiatan Perencanaan dan Pengawasan Teknis Pembangunan/Peningkatan/Rehabilitasi Jalan/Jembatan</a>
                    <a href="#" class="list-group-item">Kegiatan Pembangunan Jalan dan Jembatan</a>
                    <a href="#" class="list-group-item">Kegiatan Pengawasan Pembangunan Jalan/Jembatan, Peningkatan Jalan, Penggantian Jembatan serta Rehabilitasi Jalan/Jembatan</a>
                    <a href="#" class="list-group-item">Biaya Sewa Alat/Kendaraan</a>
                  <a href="/Bidang" class="btn btn-success" role="button">Tambah Bidang</a></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>