<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Keciptakaryaan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/cipta_3_1" class="list-group-item">Tenaga Ahli Berdasarkan Pengalaman dan Sertifikasi</a>
                    <a href="/cipta_3_2" class="list-group-item">Tenaga sub  Profesional jasa  konsultansi</a>
                    <a href="/cipta_3_3" class="list-group-item">Tenaga pendukung jasa konsultansi</a>
                    <a href="#" class="list-group-item">Biaya Langsung Non Personil Untuk Jenis Pengeluaran Reimbursable</a>
                    <a href="#" class="list-group-item">Biaya Langsung Non Personil Untuk  Jenis Pengeluaran Fixed Unit Rate</a>
                    <a href="/cipta_3_6" class="list-group-item">Daftar Harga  Standar Upah  Pekerja Jasa Konstruksi</a>
                  </div></br></br>

            <h4>Kegiatan Pembangunan Bangunan Gedung Negara Klasifikasi Sederhana</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Prosentase Komponen Biaya Pembangunan Bangunan Gedung Negara Klasifikasi Sederhana</a>
                  </div></br></br>

            <h4>Kegiatan Pembangunan Bangunan Gedung Negara Klasifikasi Tidak Sederhana</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Prosentase Komponen Biaya Pembangunan Bangunan Gedung Negara Klasifikasi Tidak Sederhana</a>
                  </div></br></br>

            <h4>Kegiatan Pembangunan Bangunan Gedung Negara Klasifikasi Khusus</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Prosentase Komponen Biaya Pembangunan Bangunan Gedung Negara Khusus</a>
                  </div></br></br>

            <h4>Pedoman Harga Satuan Per Meter Persegi Tertinggi Bangunan Gedung Pemerintah dan Rumah Dinas</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/cipta_3_10" class="list-group-item">Pedoman Harga Satuan Per Meter Persegi Tertinggi Bangunan  Gedung Pemerintah dan Rumah Dinas</a>
                    <a href="/cipta_3_11" class="list-group-item">Pedoman Harga Satuan Per Meter Tertinggi Bangunan Pagar</a>
                  </div></br></br>

            <h4>Kegiatan Pembangunan Fisik Air Bersih</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Standar Kegiatan Pekerjaan Fisik Pembangunan Fisik Air Bersih </a>
                  </div></br></br>

            <h4>Kegiatan Perencanaan Teknis Sistem Air Bersih</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Standar Kegiatan Pekerjaan Fisik Perencanaan Teknis Sistem Air Bersih</a>
                  </div></br></br>

            <h4>Kegiatan Penyehatan Lingkungan</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="#" class="list-group-item">Standar Kegiatan Pekerjaan Fisik Bidang Penyehatan Lingkungan</a>
                  </div></br></br>

            <h4>Sub Bidang Proyek untuk Kegiatan Perumahan Kota (PLPK) / Bidang Pemukiman</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="cipta_3_15" class="list-group-item">Sub Bidang Proyek Untuk Kegiatan Perumahan Kota (PLPK)/ Bidang Permukiman</a>
                    <a href="cipta_3_16" class="list-group-item">Sub Bidang Proyek Untuk Kegiatan Perumahan Kota (PLPK)/ Bidang Permukiman</a>
                  </div></br></br>

            <h4>Prosentase Komponen Pekerjaan Pembangunan Gedung Negara</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="cipta_3_17" class="list-group-item">Prosentase Komponen Pekerjaan Bangunan</a>
                    <a href="cipta_3_18" class="list-group-item">Prosentase Komponen Pekerjaan Rumah Negara</a>
                  </div></br></br>

        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>