<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Kearsipan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/arsip_6_1" class="list-group-item">Standar Biaya Satuan Pembenahan Arsip</a>
                    <a href="/arsip_6_2" class="list-group-item">Standar Biaya Pemeliharaan dan Perawatan Arsip</a>
                    <a href="/arsip_6_3" class="list-group-item">Satuan Biaya Reproduksi dan Transkripsi</a>
                    <a href="/arsip_6_4" class="list-group-item">Satuan Biaya Pembersihan Arsip</a>
                    <a href="/arsip_6_5" class="list-group-item">Satuan Biaya Jasa Penerjemahan Arsip</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>