<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Promosi dan Penanaman Modal</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/promod_11_1a" class="list-group-item">Sewa Stand di Dalam Negeri</a>
                    <a href="/promod_11_1b" class="list-group-item">Sewa Stand di Luar Negeri</a>
                    <a href="/promod_11_1c" class="list-group-item">Dekorasi Pameran di Dalam Negeri</a>
                    <a href="/promod_11_1d" class="list-group-item">Dekorasi Pameran di Luar Negeri</a>
                    <a href="/promod_11_1e" class="list-group-item">Sewa Tempat di Hotel Luar Negeri Guna Kegiatan Temu Bisnis</a>
                    <a href="/promod_11_1f" class="list-group-item">Konsumsi Kegiatan Temu Bisnis di Luar Negeri</a>
                    <a href="/promod_11_1g" class="list-group-item">Pameran Open Space di Dalam Negeri</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>