<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Sumber Daya Air</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang Sumber Daya Air</h3></br>
              <h4>I. Harga Satuan</h4>
              <h4>1. Tenaga Teknis Non PNS Khusus Bidang SDA</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_1" class="list-group-item">Honorarium Tenaga Teknis  Non PNS Khusus Bidang SDA</a>                    
                  </div></br></br>

                  <h4>Uang Saku Non PNS Piket Banjir / Kekeringan </h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_2" class="list-group-item">Besaran Uang Saku Tenaga Teknis Non PNS Piket Banjir/Kekeringan</a>
                  </div></br></br>

                  <h4>II. Kegiatan Pembangunan Prasarana Pengairan (SDA)</h4>
                  <h4>A. Pengukuran dan Perencanaan Irigasi</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_3" class="list-group-item">Pengukuran dan Perencanaan Rehabilitasi Irigasi (Pedataran)</a>
                    <a href="/sda_2_4" class="list-group-item">Pengukuran dan Perencanaan Rehabilitasi Irigasi (Pegunungan)</a>
                  </div></br></br>

                  <h4>B. Pengukuran dan Perencanaan Sungai/Drainase</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_5" class="list-group-item">Pengukuran dan Perencanaan Sungai/Drainase</a>
                  </div></a></br></br>

                  <h4>C. Pengukuran dan Perencanan Situ</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_6" class="list-group-item">Pengukuran dan Perencanaan Situ</a>
                  </div></a></br></br>

                  <h4>D. Pengukuran dan Perencanaan Pengamanan Pantai dan Perbaikan Muara Sungai</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_7" class="list-group-item">Pengukuran dan Perencanaan Pengamanan Pantai dan Perbaikan Muara Sungai</a>
                  </div></a></br></br>

                  <h4>E. Biaya Sewa Alat Pemotretan Topografi Drone</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_drone" class="list-group-item">Biaya Sewa Alat Pemotretan Topografi Drone</a>
                  </div></a></br></br>

                  <h4>F. Biaya Penyelidikan Lapangan & Pengujian Laboratorium Geoteknik</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_8" class="list-group-item">Biaya Penyelidikan Lapangan & Pengujian Laboratorium Geoteknik</a>
                  </div></a></br></br>

                  <h4>G. Biaya Pengelolaan Jaringan Irigasi</h4>
                  <div class="list-group" style="width: 50%;">
                    <a href="/sda_2_9" class="list-group-item">Biaya Pengelolaan Jaringan Irigasi</a>
                  </div></a></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>