<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Bidang Informatika</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Tahapan dan Bobot Kegiatan Evaluasi dan Pengendalian</h3></br>
            <h3>Edit Data</h3>
             <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Uraian:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Uraian" name="uraian">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">ALT.1 (%):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan ALT.1" name="alt1">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">ALT.2 (%):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan ALT.2" name="alt2">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">ALT.3 (%):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan ALT.3" name="alt3">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">ALT.4 (%):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan ALT.4" name="alt4">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">ALT.5 (%):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan ALT.5" name="alt5">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Perkiraan Waktu (Bulan):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Perkiraan Waktu" name="waktu">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>