<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
       
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Informatika</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Sub-Kategori Bidang</h3></br>
                  <div class="list-group" style="width: 50%;">
                    <a href="/informatika_12_1" class="list-group-item">Tahapan dan Bobot Kegiatan Perencanaan</a>
                    <a href="/informatika_12_2" class="list-group-item">Tahapan dan Bobot Kegiatan Evaluasi dan Pengendalian</a>
                    <a href="/informatika_12_3" class="list-group-item">Tahapan dan Bobot Kegiatan Pembangunan Perangkat Lunak</a>
                    <a href="/informatika_12_4" class="list-group-item">Tahapan dan Bobot Kegiatan Pembangunan Infrastruktur Jaringan</a>
                    <a href="/informatika_12_5" class="list-group-item">Tahapan dan Bobot Kegiatan Pendukungan Konten</a>
                    <a href="/informatika_12_6" class="list-group-item">Tahapan dan Bobot Kegiatan Pelatihan dan Bimbingan Teknis</a>
                    <a href="/informatika_12_7" class="list-group-item">Perencanaan, Pengawasan dan Pengendalian serta Evaluasi</a>
                    <a href="/informatika_12_8" class="list-group-item">Tahapan dan Bobot Pengadaan Hardware</a>
                  </div></br></br>
        </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>